.feedback {
   width: 1440px;
   height: 666px;
   margin: 0 auto;
   background: #0F2222;
   position: relative;
}

.feedback__inner {
   position: relative;
   width: 1110px;
   margin: 0 auto;
   z-index: 1;
}

.feedback__title {
   color: #FFF;
   font-size: 100px;
   font-family: 'Cormorant';
   letter-spacing: 2px;
   text-transform: uppercase;
   padding-top: 22px;
}

.feedback__title-second-line {
   display: inline-block;
   text-indent: 100px;
}

.feedback__box {
   position: absolute;
   right: -85px;
   top: 0;
}

.feedback__box-line {
   width: 255px;
   height: 1px;
   background: #43FFD2;
   margin-bottom: 53px;
   margin-top: 83px;
}

.feedback__box-text {
   color: #FFF;
   font-size: 14px;
   line-height: 21px;
   font-family: 'Oswald';
   letter-spacing: 0.56px;
   text-transform: uppercase;
   margin-bottom: 30px;
}

.feedback__box-inputs {
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-bottom: 20px;
}

.feedback__box-input-name, .feedback__box-input-phone, .feedback__box-input-comment {
   width: 445px;
   height: 60px;
   padding: 10px 20px 20px;
   box-sizing: border-box;
   border: 1px solid #43FFD2;
   background-color: rgba(255, 255, 255, 0);

   color: #fff;
   font-size: 14px;
   font-family: 'Oswald';
   letter-spacing: 0.56px;
}

.feedback__box-input-comment {
   height: 120px;
   resize: none;
}

.feedback__box-btn {
   width: 255px;
   height: 50px;
   background: #43FFD2;
   border: none;
   margin-bottom: 10px;

   color: #000;
   font-size: 12px;
   font-family: 'Oswald';
   font-weight: 700;
   letter-spacing: 1.2px;
   text-transform: uppercase;
}

.feedback__box-consent-message {
   color: #FFF;
   font-size: 10px;
   font-family: 'Roboto Condensed';
   letter-spacing: 0.2px;
}

.consent-message_red {
   color: #D978AC;
}

.feedback__signature-img {
   position: absolute;
   top: 269px;
   left: 305px;
}

.feedback__effects-leaves-back {
   position: absolute;
   top: -85px;
   left: 0px;
   z-index: 2;
}

.feedback__effects-leaves {
   position: absolute;
   top: -85px;
   left: 0px;
   z-index: 3;
}

.feedback__effects-purple-elipse {
   position: absolute;
   top: -150px;
   left: 0px;
   z-index: 1;
}

.feedback__effects-green-elipse {
   position: absolute;
   top: 0;
   left: 150px;
}